:root {
  --ifm-color-primary: #5a4285;
  --ifm-color-primary-dark: #513b78;
  --ifm-color-primary-darker: #4d3871;
  --ifm-color-primary-darkest: #3f2e5d;
  --ifm-color-primary-light: #634992;
  --ifm-color-primary-lighter: #684c99;
  --ifm-color-primary-lightest: #7557ac;
  --ifm-background-color: #f3f2ff;
  --ifm-navbar-background-color: #f3f2ff;
}

[data-theme='dark'] {
  --ifm-color-primary: #94c8de;
  --ifm-color-primary-dark: #78b9d5;
  --ifm-color-primary-darker: #6ab2d1;
  --ifm-color-primary-darkest: #3f9cc4;
  --ifm-color-primary-light: #b0d7e7;
  --ifm-color-primary-lighter: #bedeeb;
  --ifm-color-primary-lightest: #e9f4f8;
  --ifm-background-color: #242632;
  --ifm-navbar-background-color: #242632;
}
